@using System.Globalization
@model VLISSIDES.ViewModels.GestionCommandes.AffichageCommandeVM
@{
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}

<link rel="stylesheet" href="~/css/style-hover.css" asp-append-version="true">
<div id="accordion">
    @foreach (var commande in Model.ListCommandes)
    {
        <div id="Commande_@commande.Id" class="card my-2 p-2 element-hoverable">
            <div class="row d-flex p-2">
                <div class="col d-flex justify-content-center">
                    <h4 class="card-title my-auto">#@commande.Id</h4>
                </div>
                <div class="mediaQuerryHideOnMediumSmall col-sm-2 d-flex justify-content-center">
                    <p class="my-auto">@commande.PrixTotal.ToString("c", CultureInfo.GetCultureInfo("fr-CA"))</p>
                </div>
                <div class="mediaQuerryHideOnMediumLarge col-2 d-flex justify-content-center">
                    <p class="my-auto">@commande.DateCommande</p>
                </div>
                <div class="mediaQuerryHideOnMedium col-2 d-flex justify-content-center">
                    <p class="my-auto">@commande.StatutNom</p>
                </div>
                <div class="col d-flex justify-content-center">
                    @foreach (var article in commande.LivreCommandes.Take(3))
                    {
                        var couverture = string.Concat(BASE_URL_RAZOR, article.Livre.Couverture);
                        <img src="@Html.Raw(couverture)" alt="..." class="imagesLivre" height="50px">
                    }
                    @if (commande.LivreCommandes.Count > 3)
                    {
                        var amountMore = commande.LivreCommandes.Count - 3;

                        <i class="fa-solid fa-plus">@amountMore</i>
                    }
                </div>
                <div class="mediaQuerryHideOnSmall col-2 d-flex justify-content-around align-self-md-center">

                    <i class="mediaQuerryHideOnMedium fa-solid fa-circle-info fa-2xl m-auto" style="color: #386bc0!important;" type="button" onclick="collapse('@commande.Id')"></i>

                    <div>
                        @if (commande.StatutId == "1" || commande.StatutId == "2")
                        {
                            @if (commande.EnDemandeAnnulation)
                            {
                                <span class="text-danger">En attente d'annulation</span>
                            }
                            else
                            {
                                <button class="btn btn-primary" onclick="ShowModal('@Url.Action("ShowAnnuleConfirmation", "HistoriqueCommandes", new { commandeId = commande.Id })')">Annuler</button>
                            }
                        }
                    </div>
                </div>
            </div>
            <div id="collapseCommandeLivres_@commande.Id" style="display:none">
                <hr>
                <div class="p-2">
                    <h5 class="">Articles:</h5>
                    <div>
                        @foreach (var item in commande.LivreCommandes)
                        {
                            <div class="row p-2">
                                <div class="col">
                                    @item.Quantite x @item.Livre.Titre
                                </div>
                                <div class="col-sm-2 d-flex justify-content-center">
                                    @{
                                        var prix = item.PrixAchat;
                                    }
                                    @prix.ToString("c", CultureInfo.GetCultureInfo("fr-CA"))
                                </div>
                                <div class="col-2 d-inline-flex">
                                    @if (commande.StatutId == "4")
                                    {
                                        @if (item.Quantite >= 1)
                                        {
                                            @if (item.EnDemandeRetourner == false)
                                            {
                                                var inputId = $"quantite-{item.CommandeId}-{item.Livre.Id}";

                                                <input id="@inputId" type="number" class="form-control w-auto" min="1" max="@item.Quantite" value="1" onkeyup="verifierQuantite('@item.CommandeId', '@item.Livre.Id', '@item.Quantite')">
                                                <button class="btn btn-primary mx-2" onclick="ShowModal('@Url.Action("ShowRetournerConfirmation", "HistoriqueCommandes", new { commandeId = item.CommandeId, livreId = item.Livre.Id })')">Retourner</button>
                                            }
                                            else
                                            {
                                                <span class="text-danger">En attente de remboursement</span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="text-danger">Vous n'avez plus de livre à rembourser</span>
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    @* Espace vide *@
                                </div>
                                <div class="col-2">
                                    @* Espace vide *@
                                </div>
                                <div class="col">
                                    @* Espace vide *@
                                </div>
                            </div>                           
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>