@model List<VLISSIDES.ViewModels.GestionEvenements.GestionEvenementsIndexVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}
@* Results *@
<link rel="stylesheet" href="~/css/Gestion/Gestion.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/Gestion/Evenement.css" asp-append-version="true">
<table>
    <tr>
        <th>Nom</th>
        <th class="cacher-5">Date de Debut</th>
        <th class="cacher-5">Date de Fin</th>
        <th class="cacher-4">Lieu</th>
        <th class="cacher-2">Nombre de places</th>
        <th class="cacher-2">Nombre de places membres</th>
        <th class="cacher-1">Prix</th>
        <th></th>
    </tr>
    @foreach (var evenement in Model)
    {
        <tr id="@evenement.Id">
            <td>
                <p>@Html.DisplayFor(modelItem => evenement.Nom)</p>
            </td>
            <td class="cacher-5">@Html.DisplayFor(modelItem => evenement.DateDebut)</td>
            <td class="cacher-5">@Html.DisplayFor(modelItem => evenement.DateFin)</td>
            <td class="cacher-4">@Html.DisplayFor(modelItem => evenement.Lieu)</td>
            <td class="cacher-2">@Html.DisplayFor(modelItem => evenement.NbPlaces)</td>
            <td class="cacher-2">
                @Html.DisplayFor(modelItem => evenement.NbPlacesMembreReserve)/
                @Html.DisplayFor(modelItem => evenement.NbPlacesMembre)
            </td>
            <td class="cacher-1">
                @Html.DisplayFor(modelItem => evenement.Prix) $
            </td>


            <td class="groupeBoutton">
                <a class="btn btn-primary p-2" onclick="ShowModal('@Url.Action("ModifierEvenement", "GestionEvenements", new { id = evenement.Id })')" data-toggle="tooltip" title="Modifier le livre">
                    <span class="fa-solid fa-pen fa-2x"></span>
                </a>
                <a class="btn btn-danger p-2" data-toggle="tooltip" title="Supprimer l'evenement" onclick="ShowModal('@Url.Action("ShowSupprimerEvenement", "GestionEvenements", new { id = evenement.Id })')">
                    <span class="fa-solid fa-trash fa-2x"></span>
                </a>
            </td>
        </tr>
    }
</table>

