@model VLISSIDES.ViewModels.Accueil.EventCardVM;
@{
    var BASE_URL_RAZOR = Url.Content("~");
}
<div class="event-card shadow-sm bg-white">
    <div class="row align-items-center">
        <div class="d-flex justify-content-center w-100 my-2">
            @{
                if (Model.NbPlacesReservees == Model.NbPlaces)
                {
                    <div class=" stickerIndisponible badge" style="top: 10px; right: 10px;">Complet</div>
                }
                <div class=" stickerDisponible badge" style="top: 10px; right: 10px;">Disponible</div>

            }
        </div>
        <div class="col-md-3 text-center text-md-left div-event-img">
            @{
                var couverture = string.Concat(BASE_URL_RAZOR, Model.Image);
            }
            <img src="@Html.Raw(couverture)" alt="Image de l'événement" class="img-fluid rounded mb-3 mb-md- img-event">
        </div>
        <div class="col-md-5 text-center text-md-left div-event-nom">
            <h2 class="font-weight-bold mb-3">@Model.Nom</h2>
            <p class="text-muted event-desc">@Model.Description</p>
            @{
                if (Model.NbPlacesReservees != Model.NbPlaces)
                {
                    <a asp-action="Index" asp-controller="Evenements">
                        <button class="reserve-btn btn btn-primary">Réserver Maintenant</button>
                    </a>
                }
            }
        </div>
        <div class="col-md-4 text-center text-md-left event-date-time">
            <div class="d-flex align-items-center justify-content-center justify-content-md-start rounded-2 p-2 dateEvent">
                <i class="fas fa-calendar-alt mr-2 mx-2"></i> @Model.DateDebut.Day / @Model.DateDebut.Month / @Model.DateDebut.Year
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                <i class="fas fa-clock mr-2 mx-2"></i> @Model.DateDebut.Hour : @Model.DateDebut.Minute
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start places-restantes">
                <i class="fas fa-chair mr-2 mx-2"></i>Places restantes:
                @Model.NbPlacesRestantes/@Model.NbPlaces
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start places-restantes">
                <i class="fas fa-chair mr-2 mx-2"></i>Places restantes (membres):
                @Model.NbPlacesMembre
            </div>
        </div>
    </div>
    @if (Model.DateFin <= DateTime.UtcNow)
    {
        <div class="sticker badge badge-danger position-absolute" style="top: 10px; right: 10px;">Évenement terminé</div>
    }
</div>