@model VLISSIDES.ViewModels.Accueil.LivreCardVM;

@{
    //Juste pour pouvoir différencier les cartes
}

<div class="item livre">
    <div class="card cardLivre">
        <div class="imgDiv">
            <img src="@Model.Couverture"
                 class="card-img-top imgLivre"
                 alt="Couverture du livre"/>
        </div>
        <div class="card-body">
            <h6 class="card-title">@Model.Titre</h6>
            <partial model="@Model.Score" name="_Etoiles.cshtml"/>

            <h6>@Model.Prix $</h6>

            <p>@Model.Auteurs</p>

            <hr/>
            <h6>Catégories reliées: </h6>
            <a href="#" class="btn btn-secondary btnCategorie">@Model.Categorie</a>
        </div>
    </div>
</div>