@model VLISSIDES.ViewModels.Accueil.CarteLivreVM;

@{
    //Juste pour pouvoir différencier les cartes

    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");

}

<div class="item livre">
    <div class="card cardLivre">
        <div class="imgDiv">
            @{
                var couverture = string.Concat(BASE_URL_RAZOR, Model.Couverture);
            }
            <img src="@Html.Raw(couverture)"
                 class="card-img-top imgLivre"
                 alt="Couverture du livre"/>
        </div>
        <div class="card-body">
            <h6 class="card-title titre">@Model.Titre</h6>
            <partial model="@Model.Note" name="_Etoiles.cshtml"/>

            <h6>@Model.Prix $</h6>
            <div class="auteur">
                @foreach (var auteur in Model.Auteurs)
                {
                    <a asp-controller="Recherche" asp-action="Index" asp-route-motCles="@auteur" asp-route-criteres="auteur" class="btn btn-secondary btnCategorie">@auteur</a>
                }
            </div>

            <hr/>
            <h6>Catégories reliées: </h6>
            <div class="categorie">
                @foreach (var categorie in Model.Categories)
                {
                    <a asp-controller="Recherche" asp-action="Index" asp-route-motCles="@categorie" asp-route-criteres="categorie" class="btn btn-secondary btnCategorie">@categorie</a>
                }
            </div>
        </div>
    </div>
</div>