@using System.Globalization
@model VLISSIDES.ViewModels.Panier.PanierVM
<link rel="stylesheet" href="~/css/facture.css"/>

@{
    float prixDonEco = 5;
    var prixtotal = (Model.PrixTotal + 5).ToString("F2", CultureInfo.GetCultureInfo("fr-CA"));

}

<div id="articlesPrix" class="p-4">
    @foreach (var article in Model.ListeArticles)
    {
        <div class="article d-flex justify-content-between">
            <div class="w-75">@article.Livre.Titre - @article.TypeLivre.Nom</div>
            <div class="quantite">@article.Quantite x</div>
            <div class="prix-original">@article.PrixOriginal.ToString("F2", CultureInfo.GetCultureInfo("fr-CA")) $</div>
            <div class="prix-promo" style="display: none;">@article.PrixApresPromotion.ToString("F2", CultureInfo.GetCultureInfo("fr-CA")) $</div>
        </div>
    }

    <div class="d-flex justify-content-between mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cbDonEco" checked="checked" onclick="changerPrixDon()" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <label class="form-check-label" for="cbDonEco">
                Don pour écologie
            </label>
            <div class="collapse show mx-4" id="collapseExample">
                <div>
                    @if (Model.PremierChoixDon)
                    {
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1">
                    }
                    <label class="form-check-label" for="flexRadioDefault1">
                        Vent Verdure et Plantation
                    </label>
                </div>
                <div>

                    @if (Model.DeuxiemeChoixDon)
                    {
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2" Selected="@Model.DeuxiemeChoixDon" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2" Selected="@Model.DeuxiemeChoixDon">
                    }

                    <label class="form-check-label" for="flexRadioDefault2">
                        Écosystème et Pérennité
                    </label>
                </div>
                <div>
                    @if (Model.TroisiemeChoixDon)
                    {
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="3" Selected="@Model.TroisiemeChoixDon" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="3" Selected="@Model.TroisiemeChoixDon">

                    }

                    <label class="form-check-label" for="flexRadioDefault3">
                        Un arbre à la fois
                    </label>
                </div>

            </div>
        </div>
        <div id="prixDonEco">
            +5,00 $
        </div>
    </div>
        
</div>

@* Rajout de l'input pour le code promo *@

<div class="d-flex justify-content-between mt-4">
    <button id="ajouterCodePromo" type="button" class="btn btn-light" onclick=" AfficherFieldCodePromo()"> <i class="fa-solid fa-tag fa-xl"></i> Ajouter un code promotionnel</button>
    <form class="d-flex hideInputCodePromo" role="search" id="inputCodePromoDiv">
        <input id="inputCodePromo" class="form-control me-2" type="search" placeholder="Code promo ici:" aria-label="Search">
        <button id="submitCodePromo" class="btn btn-primary" type="button" onclick="validerEtAppliquerCodePromo()">Ajouter</button>
    </form>
</div>
<div id="promoCodeDisplay" class="promo-code-container" style="display: none;">
    <span id="appliedPromoCode" class="promo-code-text"></span>
    <i onclick="annulerCodePromo()" class="fas fa-times annuler-promo-icon"></i>
</div>


<hr/>
<div id="total" class="p-2 px-4">
    <div class="d-flex justify-content-between">
        <div class="">Total <span class="text-danger">(sans taxe)</span>: </div>
        <div class="d-flex">
            <div id="prixTotal" class="">
                @prixtotal $
            </div>
        </div>

    </div>
</div>

<script asp-append-version="true">
function validerEtAppliquerCodePromo() {
    var codePromo = document.getElementById('inputCodePromo').value;

    fetch(BASE_URL + '/Panier/ValiderCodePromo?codePromo=' + codePromo, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ codePromo: codePromo })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success && data.isValid) {
            AfficherFacture(() => {
            // Mise à jour du total du panier
            var prixTotalElement = document.getElementById('prixTotal');
            if (prixTotalElement) {
                prixTotalElement.innerText = data.nouveauTotal.toFixed(2);
            }


            // Attende la mise à jour de la facture avant de modifier le DOM

                var articles = document.querySelectorAll(".article");
                articles.forEach(article => {
                    var prixOriginal = article.querySelector(".prix-original");
                    var prixPromo = article.querySelector(".prix-promo");


                    prixOriginal.classList.add("prix-barre");
                    prixPromo.style.display = "block";

                });

                // Afficher le code promo appliqué
                 document.getElementById('appliedPromoCode').innerText = codePromo;
                 document.getElementById('promoCodeDisplay').style.display = 'block';
                 document.getElementById('ajouterCodePromo').style.display = 'none';

                 changerPrixDon();
            });

        } else {
            // Affiche un message d'erreur
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('Erreur lors de la validation du code promo', error);
    });
}

</script>


<script asp-append-version="true">
function annulerCodePromo() {
    try {
        fetch(BASE_URL + '/Panier/AnnulerCodePromo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('La requête a échoué');
            }
            return response.json();
        })
        .then(data => {
            if (data.success && data.isValid) {
                AfficherFacture(() => {
                    var prixTotalElement = document.getElementById('prixTotal');
                    if (prixTotalElement) {
                        prixTotalElement.innerText = data.nouveauTotal.toFixed(2);
                    }
                    var promoCodeDisplay = document.getElementById('promoCodeDisplay');
                    if (promoCodeDisplay) {
                        promoCodeDisplay.style.display = 'none';
                    }
                    var articles = document.querySelectorAll(".article");
                    articles.forEach(article => {
                        var prixOriginal = article.querySelector(".prix-original");
                        var prixPromo = article.querySelector(".prix-promo");

                        if (prixOriginal) {
                            prixOriginal.classList.remove("prix-barre");
                        }
                        if (prixPromo) {
                            prixPromo.style.display = "none";
                        }
                    });

                    var ajouterCodePromo = document.getElementById('ajouterCodePromo');
                    if (ajouterCodePromo) {
                        ajouterCodePromo.style.display = 'block';
                    }
                    changerPrixDon();

                });
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Erreur lors de la validation du code promo', error);

        });
    }
    catch (e) {
        console.error(e);
    }
}
</script>