@model VLISSIDES.ViewModels.Panier.AfficherPanierVM
@{
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}


<div class="card mb-3 " id="@Model.Id" style="max-width: 540px;">
    <input type="hidden" class="vmIdPanier" name="viewModelId" value="@Model.Id"/>
    <div class="row no-gutters">
        <div class="col-md-4 bg-secondary ">
            @{
                var couverture = string.Concat(BASE_URL_RAZOR, Model.Livre.Couverture);
            }
            <img src="@Html.Raw(couverture)" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Livre.Titre</h5>

                <div>
                    @string.Format("{0:#,##0.00}", Model.PrixOriginal) $
                </div>
                <div>
                    @Model.TypeLivre.Nom
                </div>

                <div class="d-flex flex-row my-4">
                    <div class="col-4">
                        <input id="@Model.Id quantite" type="number" class=" form-control formGroupExampleInput h-100" placeholder="" value="@Model.Quantite" onclient onclick="enableButton('@Model.Id')">
                    </div>
                    <button id="saveButton @Model.Id" type="button" class="btn btn-success saveButton mx-2 p-2"
                            onclick="ModifierQuantite('@Model.Id', '@Model.Quantite')
                                                disableButton('@Model.Id')">
                        <span class="fa-solid fa-check fa-2x"></span>
                    </button>
                </div>

                <div class="d-flex flex-row justify-content-end">
                    <a class="btn btn-danger p-2" onclick="ShowModal('@Url.Action("ShowDeleteConfirmation", "Panier", new { id = Model.Id })')" data-toggle="tooltip" title="Supprimer le livre">
                        <i class="fa-solid fa-xmark fa-2xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // ModalScript
    function ShowModal($url) {
        $.get($url, function (result) {
            $('.modal-content').html(result);
            $('.modal').modal('show');
        });
    }
</script>