@{
}
@model VLISSIDES.ViewModels.MaisonEditions.MaisonEditionsIndexVM

<link rel="stylesheet" href="~/css/style-hover.css" asp-append-version="true">


@if (Model.MaisonEditionsAfficherVM.Any())
{
    <div class="listeSujet list-group" id="list-tab" role="tablist">

        @foreach (var edition in Model.MaisonEditionsAfficherVM)

        {
            <!--onclick pour afficher livres ici-->
            <div id="@edition.Id" class="card list-group-item list-group-item-action mb-2 mx-3 element-hoverable" data-toggle="list" onclient onclick="AfficherMaisonsEditionsLivres('@edition.Id')">
                <div class="card-body row align-items-center p-0">
                    <div class="col-9 text-center">
                        <!--Début : Modifier nom d'une maison d'édition-->
                        <input id="@edition.Id @edition.Nom" type="text" asp-for="@edition.Nom" class="form-control formGroupExampleInput" placeholder="@Html.DisplayFor(modelItem => edition.Nom)"
                               onclick="enableButton('@edition.Id')">
                    </div>
                    <div class="col-3 text-center d-flex flex-row justify-content-around h-40">
                        <button id="saveButton @edition.Id" type="button" class="btn btn-success saveButton"
                                onclick="ModifierMaison('@edition.Id', '@edition.Nom')
                                        disableButton('@edition.Id')">
                            <span class="fa-solid fa-check fa-2x"></span>
                        </button>
                        <!--Fin : Modifier nom d'une maison d'édition-->
                        <!--Bouton supprimer ici-->
                        <button type="button" class="btn btn-danger p-2" onclick="ShowModal('@Url.Action("ShowDeleteConfirmation", "GestionMaisonEditions", new { id = edition.Id })')">
                            <span class="fa-solid fa-trash fa-2x"></span>
                        </button>

                    </div>
                </div>
            </div>
        }
        <partial name="PartialViews/Utilities/_PaginationIndexPartial"/>

    </div>

    <div id="divListeLivres" class="mediaQuerryHideOnSuperSmall card rounded-xl">
        <h3 class="text-center my-3">Livres de la maison d'édition</h3>

        <div class="" id="divListeMaisonEditionLivres">
            @foreach (var edition in Model.MaisonEditionsAfficherVM)
            {
                <div id="Liste_@edition.Id" class=" visually-hidden">
                    <h5 class="my-2" id="NomMaison_@edition.Id">@edition.Nom</h5>


                    @if (edition.Livres.Count != 0)
                    {
                        <div class="listcolumns">
                            <ul id="ulListeNomLivres">
                                @foreach (var livre in edition.Livres)
                                {
                                    <li>@livre</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <p>pas de livres</p>
                    }


                </div>
            }

        </div>

    </div>
}
else
{
    <h1>Aucun résultat</h1>
}