@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}
@model VLISSIDES.ViewModels.Evenements.EvenementsVM

<div class="event-card card shadow-sm p-3 my-4 bg-white event-card " style="height:250px">


    <div class="row align-items-center my-auto">
        <div class="d-flex justify-content-center w-100 my-2">

            <div class=" stickerIndisponible  badge " style="top: 10px; right: 10px;">Réservé</div>
        </div>
        <div class="col-md-3 text-center text-md-left">
            @{
                var couverture = string.Concat(BASE_URL_RAZOR, Model.Image);
            }
            <img src="@Html.Raw(couverture)" alt="Image de l'événement" class="img-fluid rounded mb-3 mb-md-0">
        </div>
        <div class="col-md-6 text-center text-md-left">
            <h2 class="font-weight-bold mb-3">@Model.Nom</h2>
            <p class="text-muted">@Model.Description</p>
            @{
                if (!Model.EstEnDemandeAnnuler)
                {
                    <button class="reserve-btn btn btn-danger" onclick="AnnulerReservation('@Model.Id')">Annuler</button>
                }
                else
                {
                    <button class="reserve-btn btn btn-danger " onclick="AnnulerReservation('@Model.Id')" disabled>En attente d'être annulé</button>
                }




            }

        </div>
        <div class="col-md-3 text-center text-md-left event-date-time">
            <div class="mb-2 d-flex align-items-center justify-content-center justify-content-md-start rounded-2 p-2 dateEvent">
                <i class="fas fa-calendar-alt mr-2 mx-2"></i> @Model.DateDebut.Day / @Model.DateDebut.Month / @Model.DateDebut.Year
            </div>
            <div class="mb-2 d-flex align-items-center justify-content-center justify-content-md-start">
                <i class="fas fa-clock mr-2 mx-2"></i> @Model.DateDebut.Hour : @Model.DateDebut.Minute
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                <i class="fas fa-chair mr-2 mx-2"></i>
                <p>
                    Membre : @Model.NbPlacesMembre
                    <br/>
                    Totale : @Model.NbPlaces
                </p>
            </div>
            <div class="mb-2 d-flex align-items-center justify-content-center justify-content-md-start">
                Prix: @Model.Prix.ToString("F2", CultureInfo.GetCultureInfo("fr-CA")
            </div>
        </div>
    </div>

</div>