@using VLISSIDES.Extensions
<!-- Bouton pour déclencher la barre latérale -->
<button id="sidebarButton" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
    <i class="fa-solid fa-bars fa-2xl"></i>
</button>

<div class="offcanvas offcanvas-start card" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header text-black text-center">
        <div class="d-flex flex-column">
            <div class="">
                <!-- Div pour le logo -->
                <a href="#">
                    <img src="~/img/Logo/Logo_sans_fond.png" alt="logo" class="" width="50%">
                </a>
            </div>
            <div class="">
                <!-- Div pour le titre -->
                <h1 class="dashboard-title">TABLEAU DE BORD</h1>
            </div>
        </div>

        <button type="button" class="btn-close btn-close-black text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <!-- Chaque élément de navigation est maintenant enveloppé dans une "card" -->
            <li class="nav-item">
                <div class="card  card-menu-dash">
                    <a asp-controller="GestionLivres" asp-action="Inventaire" class="nav-link-dash   card-body @Html.IsActive("GestionLivres", "Inventaire")">
                        <i class="fas fa-home"></i> L'Inventaire des livres
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="card  card-menu-dash">
                    <a asp-controller="GestionCategories" asp-action="Index" class="nav-link-dash   card-body @Html.IsActive("GestionCategories", "Index")">
                        <i class="fas fa-clipboard-list"></i> Les Catégories
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="card card-menu-dash">
                    <a asp-controller="GestionAuteurs" asp-action="Index" class="nav-link-dash  card-body @Html.IsActive("GestionAuteurs", "Index")">
                        <i class="fas fa-book"></i> Les Auteurs
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="card card-menu-dash">
                    <a asp-controller="GestionMaisonEditions" asp-action="Index" class="nav-link-dash  card-body @Html.IsActive("MaisonEditions", "Index")">
                        <i class="fas fa-building"></i> Les Maison d'Éditions
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="card card-menu-dash">
                    <a asp-controller="GestionEvenements" asp-action="Index" class="nav-link-dash  card-body @Html.IsActive("MaisonEditions", "Index")">
                        <i class="fas fa-calendar-days"></i> Les Événements
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="card card-menu-dash">
                    <a asp-controller="GestionPromotions" asp-action="Index" class="nav-link-dash  card-body @Html.IsActive("MaisonEditions", "Index")">
                        <i class="fas fa-tag"></i> Les Promotions
                    </a>
                </div>
            </li>
                @if (User.IsInRole(RoleName.ADMIN))
                {
                <li class="nav-item">
                    <div class="card card-menu-dash">
                        <a asp-controller="GestionComptes" asp-action="Index" class="nav-link-dash  card-body @Html.IsActive("Comptes", "Index")">
                            <i class="fas fa-tag"></i> Les Comptes
                        </a>
                    </div>
                </li>
                }
        </ul>
        <div class="">
            <form class="form-inline" method="post" asp-area="" asp-controller="Compte" asp-action="Logout" asp-route-returnUrl="@Url.Action("Login", "Compte", new { area = "" })">
                <button type="submit" class="btn btn-primary w-100 ">Se Déconnecter</button>
            </form>
        </div>
    </div>
</div>