@model VLISSIDES.ViewModels.GestionLivres.GestionLivresInventaireVM

@{
    ViewData["Title"] = "Inventaire";
    string myURL = Context.Request.Host.Value;
    string BASE_URL_RAZOR = Url.Content("~");
}
<link rel="stylesheet" href="~/css/Gestion/Gestion.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/Gestion/Livre.css" asp-append-version="true">


@*********************@
@* Modals *@
@*********************@

<div class="modal fade modal-dialog-centered " tabindex="-1" role="dialog" aria-hidden="true" id="ModalId"
     style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
        </div>
    </div>
</div>

<h1 class="text-center mb-4">Inventaire des livres</h1>

@* Les recherches *@
<form class="row">
    @* Research bar *@
    <div id="rechercheRapide" class="text-center d-flex flex-wrap">
        <a id="rechercherBTN_GL" class="container-fluid btn btn-primary" asp-controller="Recherche" asp-action="Index">
            Rechercher
        </a>
        <input id="rechercheGeneralGL" type="text" class="form-control recherche-input" placeholder="Recherche générale">
    </div>
    <button id="filtreBTN" class="btn btn-primary m-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtre" aria-controls="sidebar">
        Filtre
    </button>
    @* Recherche précise *@
    <div id="filtre" class="offcanvas offcanvas-start card col-2 bg-secondary" tabindex="-1">

        @* Recherche précise *@
        <div>
            <button id="rechercherBTNFiltre" type="button" class="container-fluid btn btn-primary">
                Rechercher
            </button>
            <h3>Filtre</h3>
            <button id="fermeFiltre" type="button" class="btn-close btn-close-black text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <div class="form-group">
                <label for="specificationTitre">Titre:</label>
                <input id="specificationTitre" class="form-control" name="specificationTitre" type="text" list="ListeLivres">
                <datalist id="ListeLivres">
                    @foreach (var livre in Model.Livres)
                    {
                        <option value="@livre" />
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label for="specificationAuteur">Auteur:</label>
                <input id="specificationAuteur" class="form-control" name="specificationAuteur" type="text" list="ListeAuteurs">
                <datalist id="ListeAuteurs">
                    @foreach (var auteur in Model.Auteurs)
                    {
                        <option value="@auteur" />
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label for="specificationMaisonEdition">Maison d'édition:</label>
                <input id="specificationMaisonEdition" class="form-control" type="text" list="specificationMaisonEditions">
                <datalist id="specificationMaisonEditions">
                    @foreach (var maisonEdition in Model.MaisonEditions)
                    {
                        <option value="@maisonEdition" />
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label for="specificationCategorie">Categorie:</label>
                <input id="specificationCategorie" class="form-control" name="specificationCategorie" type="text" list="specificationCategories">
                <datalist id="specificationCategories">
                    @foreach (var categorie in Model.Categories)
                    {
                        <option value="@categorie" />
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label for="specificationLangue">Langue:</label>
                <input id="specificationLangue" class="form-control" name="specificationLangue" type="text" list="ListeLangues" />
                <datalist id="ListeLangues">
                    @foreach (var langue in Model.Langues)
                    {
                        <option value="@langue" />
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label for="specificationPrixMin">Prix minimum:</label>
                <input id="specificationPrixMin" class="form-control" type="number" min="0">
            </div>
            <div class="form-group">
                <label for="specificationPrixMax">Prix maximum:</label>
                <input id="specificationPrixMax" class="form-control" type="number" min="0">
            </div>
            <div class="form-group">
                <label for="specificationTypeLivre">Type de livre:</label>
                <input id="specificationTypeLivre" class="form-control" name="specificationTypeLivre" type="text" list="ListeTypeLivres" />
                <datalist id="ListeTypeLivres">
                    @foreach (var typeLivre in Model.TypeLivres)
                    {
                        <option value="@typeLivre" />
                    }
                </datalist>
            </div>
        </div>
    </div>
    @* Body *@
    @* Add button *@
    <div class="m-4">
        <a onclick="ShowModal('@Url.Action("Ajouter", "GestionLivres")')" class="btn btn-primary">Ajouter livre</a>
    </div>
    @* Table *@
    <partial model="Model.LivrePartials" name="PartialViews/GestionLivres/_ListeLivresPartial" />
    <partial name="PartialViews/Utilities/_PaginationPartial" />
</form>


<style>
    /*Pour cacher les boutons de sauvegarde --- Ne fonction pas dans un fichier css*/
    .saveButton {
        visibility: hidden;
    }
</style>

<script type="text/javascript">
    //Hide save button
    //Utiliser "GL" à la fin de chaque variable, pour signifier "GestionLivres" et pour différencier des variables de Recherche/Index

    //Script pour la recherche
    var btnSearchGL = document.getElementById("rechercherBTN_GL");

    btnSearchGL.addEventListener("click", RechercheGestionLivres);

    async function RechercheGestionLivres(ev) {
        ev.preventDefault();

        var partieMotClesGL = "motCles=";
        var partieCriteresGL = "criteres=";

        //Recherche générale
        var searchGeneralGL = document.getElementById("rechercheGeneralGL");
        var searchTermGL = searchGeneralGL.value; // Récupérer la valeur de la barre de recherche

        if (searchTermGL != "") {
            artieMotClesGL = partieMotClesGL.concat(`${searchTermGL}|`);
            partieCriteresGL = partieCriteresGL.concat("general|");
        }

        //Titre
        var titreSpecificationGL = document.getElementById("specificationTitreGL");
        var titreEntreeGL = titreSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (titreEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${titreEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("titre|");
        }

        //Auteur
        var auteurSpecificationGL = document.getElementById("specificationAuteurGL");
        var auteurEntreeGL = auteurSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (auteurEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${auteurEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("auteur|");
        }

        //MaisonEdition
        var maisonEditionSpecificationGL = document.getElementById("specificationMaisonEditionGL");
        var maisonEditionEntreeGL = maisonEditionSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (maisonEditionEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${maisonEditionEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("maisonEdition|");
        }

        //Categorie
        var categorieSpecificationGL = document.getElementById("specificationCategorieGL");
        var categorieEntreeGL = categorieSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (categorieEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${categorieEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("categorie|");
        }

        //Langue
        var langueSpecificationGL = document.getElementById("specificationLangueGL");
        var langueEntreeGL = langueSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (langueEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${langueEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("langue|");
        }

        //Type livre
        var typeLivreSpecificationGL = document.getElementById("specificationTypeLivreGL");
        var typeLivreEntreeGL = typeLivreSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (typeLivreEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${typeLivreEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("typeLivre|");
        }

        //Prix minimum
        var prixMinSpecificationGL = document.getElementById("specificationPrixMinGL");
        var prixMinEntreeGL = prixMinSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (prixMinEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${prixMinEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("prixMin|");
        }

        //Prix maximum
        var prixMaxSpecificationGL = document.getElementById("specificationPrixMaxGL");
        var prixMaxEntreeGL = prixMaxSpecificationGL.value; // Récupérer la valeur de la barre de recherche

        if (prixMaxEntreeGL != "") {
            partieMotClesGL = partieMotClesGL.concat(`${prixMaxEntreeGL}|`);
            partieCriteresGL = partieCriteresGL.concat("prixMax|");
        }


        // Utiliser la valeur dans l'URL pour l'action Inventaire
        window.location.href = `/GestionLivres/Inventaire?${partieMotClesGL}&${partieCriteresGL}`;
    }
</script>
<script type="text/javascript" src="~/js/InventaireModifierQuantite.js"></script>
<script type="text/javascript" src="~/js/DynamicSaveButton.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}