@model VLISSIDES.ViewModels.GestionLivres.GestionLivresInventaireVM
<link rel="stylesheet" href="~/css/style-hover.css" asp-append-version="true">


@{
    ViewData["Title"] = "Inventaire";
    string myURL = Context.Request.Host.Value;
    string BASE_URL_RAZOR = Url.Content("~");
}
<link rel="stylesheet" href="~/css/Sidebar.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/Responsive/BasicHideMediaQuerry.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/Responsive/GestionInventaire.css" asp-append-version="true">


@*********************@
@* Modals *@
@*********************@

<div class="modal fade modal-dialog-centered " tabindex="-1" role="dialog" aria-hidden="true" id="ModalId"
     style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!-- Barre latérale coulissante -->
<partial name="PartialViews/Dashboard/_SideBarPartial" />
@*  ============================================================================= *@
@*  ============================================================================= *@
@*  ============================================================================= *@
@* Table *@
<div class="d-block p-3 col">

    <div class="text-center mb-4">
        <h1>Inventaire des livres</h1>
    </div>

    <div class="container-fluid m-1">
        <form class="row">
            <div id="rechercheRapide" class="mediaQuerryHideOnMedium row text-center">
                <div class="col-2">
                    <button id="rechercherBTN" class="container-fluid btn btn-primary">
                        Rechercher
                    </button>
                </div>
                <div class="col-10">
                    <input id="rechercheGeneral" type="text" class="form-control recherche-input" placeholder="Recherche générale">
                </div>
            </div>



            <div class="d-flex justify-content-between">
                <div id="filtreBTNDiv" class="pl-0 pr-2">
                    <button id="filtreBTN" class="btn btn-primary m-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtre" aria-controls="sidebar">
                        Filtres
                    </button>
                </div>
                @* Add button *@
                <div id="ajouterLivreBTNDiv" class="m-4 mx-2 pl-2">
                    <a onclick="ShowModal('@Url.Action("Ajouter", "GestionLivres")')" class="btn btn-primary">Ajouter livre</a>
                </div>
            </div>



            <div id="filtre" class="offcanvas offcanvas-start card col-2" tabindex="-1">
                @* Recherche précise 1*@
                <button id="fermeFiltre" type="button" class="btn-close btn-close-black text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <h3>Filtres:</h3>
                <div class="form-group">
                    <label for="specificationTitre">Titre:</label>
                    <input id="specificationTitre" class="form-control" name="specificationTitre" type="text" list="ListeLivres">
                    <datalist id="ListeLivres">
                        @foreach (var livre in Model.ListeLivresFiltre)
                        {
                            <option value="@livre.Titre" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationAuteur">Auteur:</label>
                    <input id="specificationAuteur" class="form-control" name="specificationAuteur" type="text" list="ListeAuteurs">
                    <datalist id="ListeAuteurs">
                        @foreach (var auteur in Model.ListeAuteurs)
                        {
                            <option value="@auteur.NomAuteur" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationMaisonEdition">Maison d'édition:</label>
                    <input id="specificationMaisonEdition" class="form-control" type="text" list="specificationMaisonEditions">
                    <datalist id="specificationMaisonEditions">
                        @foreach (var maisonEdition in Model.ListeMaisonEditions)
                        {
                            <option value="@maisonEdition.Nom" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationCategorie">Categorie:</label>
                    <input id="specificationCategorie" class="form-control" name="specificationCategorie" type="text" list="specificationCategories">
                    <datalist id="specificationCategories">
                        @foreach (var categorie in Model.ListeCategories)
                        {
                            <option value="@categorie.Nom" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationLangue">Langue:</label>
                    <input id="specificationLangue" class="form-control" name="specificationLangue" type="text" list="ListeLangues" />
                    <datalist id="ListeLangues">
                        @foreach (var langue in Model.ListeLangue)
                        {
                            <option value="@langue.Nom" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationPrixMin">Prix minimum:</label>
                    <input id="specificationPrixMin" class="form-control" type="number" min="0">
                </div>
                <div class="form-group">
                    <label for="specificationPrixMax">Prix maximum:</label>
                    <input id="specificationPrixMax" class="form-control" type="number" min="0">
                </div>
                <div class="form-group">
                    <label for="specificationTypeLivre">Type de livre:</label>
                    <input id="specificationTypeLivre" class="form-control" name="specificationTypeLivre" type="text" list="ListeTypeLivres" />
                    <datalist id="ListeTypeLivres">
                        @foreach (var typeLivre in Model.ListeTypeLivres)
                        {
                            <option value="@typeLivre.Nom" />
                        }
                    </datalist>
                </div>
                <button id="rechercherBTNFiltre" type="button" class="container-fluid btn btn-primary">
                    Rechercher
                </button>
            </div>
        </form>

        @* Body *@
        <div class="row">
            <div class="mediaQuerryHideOnMedium-MediumLarge col-2">
                <div id="filtre2" class="card p-4" tabindex="-1">
                    @* Recherche précise 2 *@
                    <h3>Filtres:</h3>
                    <div class="form-group">
                        <label for="specificationTitre2">Titre:</label>
                        <input id="specificationTitre2" class="form-control" name="specificationTitre2" type="text" list="ListeLivres">
                        <datalist id="ListeLivres">
                            @foreach (var livre in Model.ListeLivresFiltre)
                            {
                                <option value="@livre.Titre" />
                            }
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="specificationAuteur2">Auteur:</label>
                        <input id="specificationAuteur2" class="form-control" name="specificationAuteur2" type="text" list="ListeAuteurs">
                        <datalist id="ListeAuteurs">
                            @foreach (var auteur in Model.ListeAuteurs)
                            {
                                <option value="@auteur.NomAuteur" />
                            }
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="specificationMaisonEdition2">Maison d'édition:</label>
                        <input id="specificationMaisonEdition2" class="form-control" type="text" list="specificationMaisonEditions2">
                        <datalist id="specificationMaisonEditions2">
                            @foreach (var maisonEdition in Model.ListeMaisonEditions)
                            {
                                <option value="@maisonEdition.Nom" />
                            }
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="specificationCategorie2">Categorie:</label>
                        <input id="specificationCategorie2" class="form-control" name="specificationCategorie2" type="text" list="specificationCategories2">
                        <datalist id="specificationCategories2">
                            @foreach (var categorie in Model.ListeCategories)
                            {
                                <option value="@categorie.Nom" />
                            }
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="specificationLangue2">Langue:</label>
                        <input id="specificationLangue2" class="form-control" name="specificationLangue2" type="text" list="ListeLangues" />
                        <datalist id="ListeLangues">
                            @foreach (var langue in Model.ListeLangue)
                            {
                                <option value="@langue.Nom" />
                            }
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="specificationPrixMin2">Prix minimum:</label>
                        <input id="specificationPrixMin2" class="form-control" type="number" min="0">
                    </div>
                    <div class="form-group">
                        <label for="specificationPrixMax2">Prix maximum:</label>
                        <input id="specificationPrixMax2" class="form-control" type="number" min="0">
                    </div>
                    <div class="form-group">
                        <label for="specificationTypeLivre2">Type de livre:</label>
                        <input id="specificationTypeLivre2" class="form-control" name="specificationTypeLivre2" type="text" list="ListeTypeLivres" />
                        <datalist id="ListeTypeLivres">
                            @foreach (var typeLivre in Model.ListeTypeLivres)
                            {
                                <option value="@typeLivre.Nom" />
                            }
                        </datalist>
                    </div>
                    <button id="rechercherBTNFiltre2" type="button" class="container-fluid btn btn-primary my-2">
                        Rechercher
                    </button>
                </div>
            </div>
            @* Table *@
            <div class="col container-fluid d-flex flex-wrap row" id="TabLivreListes">
                <div class="mb-3 mx-3">
                    <div class="row px-2">
                        <div class="LivreCol col">
                            <p class="text-center">
                                Livre
                            </p>
                        </div>
                        <div class="ISBNCol mediaQuerryHideOnSuperSmall col">
                            <p class="text-center">
                                ISBN
                            </p>
                        </div>
                        <div class="AuteurCol mediaQuerryHideOnMedium col-sm-2">
                            <p class="text-center">
                                Auteur
                            </p>
                        </div>
                        <div class="CategorieCol mediaQuerryHideOnMediumLarge col-sm-2">
                            <p class="text-center">
                                Catégorie
                            </p>
                        </div>
                        <div class="PrixCol mediaQuerryHideOnSmall col-2">
                            <p class="text-center">
                                Prix par type
                            </p>
                        </div>
                        <div class="QuantiteCol mediaQuerryHideOnMedium col-1">
                            <p class="text-center">
                                Quantité
                            </p>
                        </div>
                        <div class="col">
                            @* Espace vide pour les boutons *@
                        </div>
                    </div>

                </div>

                @* Results *@
                @foreach (var item in Model.ListeLivres)
                {
                    <div id="@item.Id" class="card mb-2 mx-3 element-hoverable">
                        <div class="card-body row p-2 align-items-center">
                            <div class="LivreCol col">
                                <div class="imgDiv text-center">
                                    @{
                                        string couverture = string.Concat(BASE_URL_RAZOR, item.Image);
                                    }
                                    <img src="@Html.Raw(couverture)" alt="..." class="imagesLivre" height="50px">
                                    <p>@Html.DisplayFor(modelItem => item.Titre)</p>
                                </div>
                            </div>
                            <div class="ISBNCol mediaQuerryHideOnSuperSmall col">
                                <div class="text-center">
                                    @Html.DisplayFor(modelItem => item.ISBN)
                                </div>
                            </div>
                            <div class="AuteurCol mediaQuerryHideOnMedium col-sm-2">
                                <div class="listeAuteur d-flex flex-column align-items-center">
                                    @foreach (var auteur in item.ListAuteur)
                                    {
                                        <p>@Html.DisplayFor(modelItem => auteur.NomAuteur)</p>
                                    }
                                </div>
                            </div>
                            <div class="CategorieCol mediaQuerryHideOnMediumLarge col-sm-2">
                                <div class="listeCategorie text-center">
                                    @foreach (var categorie in item.Categories)
                                    {
                                        <p>@Html.DisplayFor(modelItem=>categorie.Nom)</p>
                                    }
                                </div>
                            </div>
                            <div class="PrixCol mediaQuerryHideOnSmall col-2">
                                <div class="d-flex flex-column">
                                    @foreach (var type in item.LivreTypeLivres)
                                    {
                                        <p>@Html.DisplayFor(modelItem => type.TypeLivre.Nom) : @Html.DisplayFor(modelItem => type.Prix) $</p>
                                    }
                                </div>
                            </div>
                            <div class="QuantiteCol mediaQuerryHideOnMedium col-1">
                                <div class="text-center">
                                    @if (item.LivreTypeLivres.Any(l => l.TypeLivre.Id == "1"))
                                    {
                                        <input id="@item.Id quantite" type="number" asp-for="@item.Quantite" class="form-control formGroupExampleInput" placeholder="@Html.DisplayFor(modelItem => item.Quantite)" onclient onclick="enableButton('@item.Id')">
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }
                                </div>
                            </div>


                            <div class="divBoutons col text-center h-40 d-flex justify-content-around align-items-center">
                                <div class="mediaQuerryHideOnMedium">
                                    @if (item.LivreTypeLivres.Any(l => l.TypeLivre.Id == "1"))
                                    {
                                        <button id="saveButton @item.Id" type="button" data-toggle="tooltip" title="Sauvegarder la quantité" class="btn btn-success saveButton px-3" onclick="
                                                    saveQuantite('@item.Id', '@item.Quantite')
                                                    disableButton('@item.Id')">

                                            <span class="fa-solid fa-check fa-2x"></span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class=" btn btn-success saveButton px-3" disabled>
                                            <span class="fa-solid fa-check fa-2x"></span>
                                        </button>
                                    }
                                </div>

                                <div class="divEditDelete">
                                    <a class="btn btn-primary p-2 m-2" onclick="ShowModal('@Url.Action("Modifier", "GestionLivres", new { id = item.Id })')" data-toggle="tooltip" title="Modifier le livre">
                                        <span class="fa-solid fa-pen fa-2x"></span>
                                    </a>
                                    <a class="btn btn-danger p-2 m-2" data-toggle="tooltip" title="Supprimer le livre" onclick="ShowModal('@Url.Action("ShowDeleteConfirmation", "GestionLivres", new { id = item.Id })')">
                                        <span class="fa-solid fa-trash fa-2x"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <partial name="PartialViews/Utilities/_PaginationPartial" />
            </div>

        </div>
    </div>

</div>

@*  ============================================================================= *@
@*  ============================================================================= *@
@*  ============================================================================= *@





<style>
    /*Pour cacher les boutons de sauvegarde --- Ne fonction pas dans un fichier css*/
    .saveButton {
        visibility: hidden;
    }

    html {
        width: auto;
        margin: 0px;
    }

    body {
        width: auto;
    }
</style>
<script>
    //Script pour URL
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);
</script>
<script>
    $(window).on('resize', function () {
        var win = $(this);
        if (win.width() < 1100) {

            $('.ISBNCol').removeClass('col-2');
            $('.ISBNCol').addClass('col-4');

        } else {
            $('.ISBNCol').removeClass('col-4');
            $('.ISBNCol').addClass('col-2');
        }
    });
</script>

<script type="text/javascript">
    //Hide save button
    //Utiliser "GL" à la fin de chaque variable, pour signifier "GestionLivres" et pour différencier des variables de Recherche/Index

    //Script pour la recherche
    var btnSearch = document.getElementById("rechercherBTNFiltre");
    var btnSearch2 = document.getElementById("rechercherBTNFiltre2");

    btnSearch.addEventListener("click", RechercheGestionLivres);
    btnSearch2.addEventListener("click", RechercheGestionLivres2);

    async function RechercheGestionLivres(ev) {
        ev.preventDefault();

        var partieMotCles = "motCles=";
        var partieCriteres = "criteres=";

        //Recherche générale
        var searchGeneral = document.getElementById("rechercheGeneral");
        var searchTerm = searchGeneral.value; // Récupérer la valeur de la barre de recherche

        if (searchTerm != "") {
            artieMotCles = partieMotCles.concat(`${searchTerm}|`);
            partieCriteres = partieCriteres.concat("general|");
        }

        //Titre
        var titreSpecification = document.getElementById("specificationTitre");
        var titreEntree = titreSpecification.value; // Récupérer la valeur de la barre de recherche

        if (titreEntree != "") {
            partieMotCles = partieMotCles.concat(`${titreEntree}|`);
            partieCriteres = partieCriteres.concat("titre|");
        }

        //Auteur
        var auteurSpecification = document.getElementById("specificationAuteur");
        var auteurEntree = auteurSpecification.value; // Récupérer la valeur de la barre de recherche

        if (auteurEntree != "") {
            partieMotCles = partieMotCles.concat(`${auteurEntree}|`);
            partieCriteres = partieCriteres.concat("auteur|");
        }

        //MaisonEdition
        var maisonEditionSpecification = document.getElementById("specificationMaisonEdition");
        var maisonEditionEntree = maisonEditionSpecification.value; // Récupérer la valeur de la barre de recherche

        if (maisonEditionEntree != "") {
            partieMotCles = partieMotCles.concat(`${maisonEditionEntree}|`);
            partieCriteres = partieCriteres.concat("maisonEdition|");
        }

        //Categorie
        var categorieSpecification = document.getElementById("specificationCategorie");
        var categorieEntree = categorieSpecification.value; // Récupérer la valeur de la barre de recherche

        if (categorieEntree != "") {
            partieMotCles = partieMotCles.concat(`${categorieEntree}|`);
            partieCriteres = partieCriteres.concat("categorie|");
        }

        //Langue
        var langueSpecification = document.getElementById("specificationLangue");
        var langueEntree = langueSpecification.value; // Récupérer la valeur de la barre de recherche

        if (langueEntree != "") {
            partieMotCles = partieMotCles.concat(`${langueEntree}|`);
            partieCriteres = partieCriteres.concat("langue|");
        }

        //Type livre
        var typeLivreSpecification = document.getElementById("specificationTypeLivre");
        var typeLivreEntree = typeLivreSpecification.value; // Récupérer la valeur de la barre de recherche

        if (typeLivreEntree != "") {
            partieMotCles = partieMotCles.concat(`${typeLivreEntree}|`);
            partieCriteres = partieCriteres.concat("typeLivre|");
        }

        //Prix minimum
        var prixMinSpecification = document.getElementById("specificationPrixMin");
        var prixMinEntree = prixMinSpecification.value; // Récupérer la valeur de la barre de recherche

        if (prixMinEntree != "") {
            partieMotCles = partieMotCles.concat(`${prixMinEntree}|`);
            partieCriteres = partieCriteres.concat("prixMin|");
        }

        //Prix maximum
        var prixMaxSpecification = document.getElementById("specificationPrixMax");
        var prixMaxEntree = prixMaxSpecification.value; // Récupérer la valeur de la barre de recherche

        if (prixMaxEntree != "") {
            partieMotCles = partieMotCles.concat(`${prixMaxEntree}|`);
            partieCriteres = partieCriteres.concat("prixMax|");
        }


        // Utiliser la valeur dans l'URL pour l'action Inventaire
        window.location.href = `/GestionLivres/Inventaire?${partieMotCles}&${partieCriteres}`;
    }

    async function RechercheGestionLivres2(ev) {
        ev.preventDefault();

        var partieMotCles = "motCles=";
        var partieCriteres = "criteres=";

        //Recherche générale
        var searchGeneral = document.getElementById("rechercheGeneral");
        var searchTerm = searchGeneral.value; // Récupérer la valeur de la barre de recherche

        if (searchTerm != "") {
            artieMotCles = partieMotCles.concat(`${searchTerm}|`);
            partieCriteres = partieCriteres.concat("general|");
        }

        //Titre
        var titreSpecification = document.getElementById("specificationTitre2");
        var titreEntree = titreSpecification.value; // Récupérer la valeur de la barre de recherche

        if (titreEntree != "") {
            partieMotCles = partieMotCles.concat(`${titreEntree}|`);
            partieCriteres = partieCriteres.concat("titre|");
        }

        //Auteur
        var auteurSpecification = document.getElementById("specificationAuteur2");
        var auteurEntree = auteurSpecification.value; // Récupérer la valeur de la barre de recherche

        if (auteurEntree != "") {
            partieMotCles = partieMotCles.concat(`${auteurEntree}|`);
            partieCriteres = partieCriteres.concat("auteur|");
        }

        //MaisonEdition
        var maisonEditionSpecification = document.getElementById("specificationMaisonEdition2");
        var maisonEditionEntree = maisonEditionSpecification.value; // Récupérer la valeur de la barre de recherche

        if (maisonEditionEntree != "") {
            partieMotCles = partieMotCles.concat(`${maisonEditionEntree}|`);
            partieCriteres = partieCriteres.concat("maisonEdition|");
        }

        //Categorie
        var categorieSpecification = document.getElementById("specificationCategorie2");
        var categorieEntree = categorieSpecification.value; // Récupérer la valeur de la barre de recherche

        if (categorieEntree != "") {
            partieMotCles = partieMotCles.concat(`${categorieEntree}|`);
            partieCriteres = partieCriteres.concat("categorie|");
        }

        //Langue
        var langueSpecification = document.getElementById("specificationLangue2");
        var langueEntree = langueSpecification.value; // Récupérer la valeur de la barre de recherche

        if (langueEntree != "") {
            partieMotCles = partieMotCles.concat(`${langueEntree}|`);
            partieCriteres = partieCriteres.concat("langue|");
        }

        //Type livre
        var typeLivreSpecification = document.getElementById("specificationTypeLivre2");
        var typeLivreEntree = typeLivreSpecification.value; // Récupérer la valeur de la barre de recherche

        if (typeLivreEntree != "") {
            partieMotCles = partieMotCles.concat(`${typeLivreEntree}|`);
            partieCriteres = partieCriteres.concat("typeLivre|");
        }

        //Prix minimum
        var prixMinSpecification = document.getElementById("specificationPrixMin2");
        var prixMinEntree = prixMinSpecification.value; // Récupérer la valeur de la barre de recherche

        if (prixMinEntree != "") {
            partieMotCles = partieMotCles.concat(`${prixMinEntree}|`);
            partieCriteres = partieCriteres.concat("prixMin|");
        }

        //Prix maximum
        var prixMaxSpecification = document.getElementById("specificationPrixMax2");
        var prixMaxEntree = prixMaxSpecification.value; // Récupérer la valeur de la barre de recherche

        if (prixMaxEntree != "") {
            partieMotCles = partieMotCles.concat(`${prixMaxEntree}|`);
            partieCriteres = partieCriteres.concat("prixMax|");
        }


        // Utiliser la valeur dans l'URL pour l'action Inventaire
        window.location.href = BASE_URL + `/GestionLivres/Inventaire?${partieMotCles}&${partieCriteres}`;
    }
</script>
<script type="text/javascript" src="~/js/InventaireModifierQuantite.js"></script>
<script type="text/javascript" src="~/js/DynamicSaveButton.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}