@{
}
@model VLISSIDES.ViewModels.GestionLivres.ModifierVM

<div class="container">


    <div class="row">
        <div class="container-fluid col-md-4">

            <form asp-action="Modifier" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="CoverImageUrl"/>
                <div class="custom-file">
                    <label class="custom-file-label" asp-for="CoverPhoto"></label>
                    <input asp-for="CoverPhoto" type="file" class="custom-file-input" id="customFile">

                </div>
                <div class="container d-flex justify-content-center">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Titre" class="control-label"></label>
                                <input asp-for="Titre" class="form-control"/>
                                <span asp-validation-for="Titre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ISBN" class="control-label"></label>
                                <input asp-for="ISBN" class="form-control"/>
                                <span asp-validation-for="ISBN" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuteurIds" class="control-label"></label>
                                <select asp-for="AuteurIds" asp-items="Model.SelectListAuteurs" id="sAuteurs" multiple></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="MaisonEditionId" class="control-label"></label>
                                <select asp-for="MaisonEditionId" asp-items="Model.SelectMaisonEditions" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrixPapier" class="control-label"></label>
                                <input asp-for="PrixPapier" class="form-control" />
                                <span asp-validation-for="PrixPapier" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NbPages" class="control-label"></label>
                                <input asp-for="NbPages" class="form-control"/>
                                <span asp-validation-for="NbPages" class="text-danger"></span>
                            </div>


                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="CategorieIds" class="control-label"></label>
                                <select asp-for="CategorieIds" asp-items="Model.SelectListCategories" class="form-control">
                                </select>
                                <span asp-validation-for="CategorieIds" class="text-danger"></span>
                            </div>
                            <fieldset>
                                <legend>Type de livre</legend>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" asp-for="@Model.Papier">
                                    <label asp-for="@Model.Papier"></label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" asp-for="@Model.Numerique">
                                    <label asp-for="@Model.Numerique"></label>
                                </div>

                            </fieldset>
                            <div class="form-group">
                                <label asp-for="LangueId" class="control-label"></label>
                                <select asp-for="LangueId" asp-items="Model.SelectLangues" class="form-control">
                                </select>
                                <span asp-validation-for="LangueId" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="NbExemplaires" class="control-label"></label>
                                <input asp-for="NbExemplaires" class="form-control"/>
                            </div>
                            <div>
                                <label asp-for="DatePublication"></label>
                                <input asp-for="DatePublication"/>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label asp-for="Resume" class="control-label"></label>
                    <textarea asp-for="Resume" class="form-control"></textarea>
                    <span asp-validation-for="Resume" class="text-danger"></span>
                </div>


                <div class="form-group float-end mt-5">
                    <a asp-action="Inventaire">Retourner</a>
                    <input type="submit" value="Ajouter" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    new MultiSelectTag('sAuteurs');
</script>