@model VLISSIDES.ViewModels.Recherche.DetailsLivreVM;
@{
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}
<div class="card divLivre mr-auto " onclick="window.location.href=`@BASE_URL_RAZOR`+`/Recherche/Details?id=@Model.Id`">
    <div class="divIMG">
        @{
            var couverture = string.Concat(BASE_URL_RAZOR, Model.Couverture);
        }
        <img src="@Html.Raw(couverture)" class="card-img-top imgLivre" alt="Couverture du livre"/>
    </div>
    <div class="card-body ">
        <h1 class="card-title">@Model.Titre</h1>
        @* <h2>Auteur(es) : </h2> *@
        <div class=" d-flex auteur divAuteurs">
            @foreach (var auteur in Model.Auteurs.Take(3))
            {
                <a class=" btnCategorie" asp-controller="Recherche" asp-action="Index" asp-route-motCles="@auteur" asp-route-criteres="auteur">
                    @auteur
                </a>
            }
        </div>

        <div class="type d-flex divMedium">
            @if (Model.Papier.Equals(null) && Model.Numerique.Equals(null))
            {
                <p>
                    <strong>Aucun médium offert</strong>
                </p>
            }
            else
            {
                if (!Model.Papier.Equals(null))
                {
                    <div >
                        <i class="fas fa-book icon"></i>
                        Papier <span class="prix">@Model.Papier $</span>

                    </div>
                }
                if (!Model.Numerique.Equals(null))
                {
                    <div class="prix">
                        <i class="fas fa-tablet-alt icon"></i>

                        Numérique <span class="prix">@Model.Numerique $</span>
                    </div>
                }
            }
        </div>
        <p class="quantite">@Model.NbExemplaires En Stock</p>
    </div>
</div>