@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model VLISSIDES.ViewModels.GestionComptes.GestionComptesModifierVM
<form id="FormModifierCompte">
    <input asp-for="@Model.Id" type="hidden"/>
    <div class="modal-header">
        <h5 class="modal-title">Modification du compte @Model.Username</h5>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label" asp-for="@Model.Prenom">Prénom(<span class="text-danger">*</span>)</label>
                <input asp-for="@Model.Prenom" class="form-control" autocomplete="off"/>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="@Model.Nom">Nom de famille(<span class="text-danger">*</span>)</label>
                <input asp-for="@Model.Nom" class="form-control" autocomplete="off"/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label" asp-for="@Model.Username">Nom d'utilisateur(<span class="text-danger">*</span>)</label>
                <input asp-for="@Model.Username" class="form-control" autocomplete="off"/>
            </div>
            <div class="col-md-6">
                <label class="form-label" asp-for="@Model.Telephone">Téléphone</label>
                <input asp-for="@Model.Telephone" class="form-control" autocomplete="off"/>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.Email">Adresse Courriel(<span class="text-danger">*</span>)</label>
            <input type="email" asp-for="@Model.Email" class="form-control" autocomplete="off"/>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.Password">Mot de passe</label>
            <input asp-for="@Model.Password" class="form-control" autocomplete="off" type="password"/>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@Model.PasswordConfirmed">Confirmer le mot de passe</label>
            <input asp-for="@Model.PasswordConfirmed" class="form-control" autocomplete="off" type="password"/>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-secondary" onclick="Annuler()">Annuler</a>
        <button type="button" class="btn btn-primary" id="" onclick="ModifierCompteEmploye()">Modifier</button>
    </div>
</form>