@{
}
@model VLISSIDES.ViewModels.Recherche.DetailsLivreVM;

<div class="item livrePetit livre @*@Model.Categories*@">
    <div class="card cardLivreSearch" style="width: 12rem; height: 26rem;;">
        <a asp-area="" asp-controller="Recherche" asp-action="Details" asp-route-id="@Model.Id" method="get"
           class="imgDiv bg-image hover-overlay ripple card-img-top" data-mdb-ripple-color="light">
            <img src="@Model.Couverture"
                 class="card-img-top imgLivre"
                 alt="Couverture du livre" />
        </a>
        <div class="card-body">
            <h6 class="card-title">@Model.Titre</h6>

            @if (!(Model.Papier && Model.Numerique))
            {
                <p>
                    <strong>Aucun médium offert</strong>
                </p>
            }
            else
            {
                if (Model.Papier)
                {
                    <p><strong>Prix papier :</strong> @Model.PrixPapier $</p>
                }
                if (Model.Numerique)
                {
                    <p><strong>Prix numérique :</strong> @Model.PrixNumerique $</p>
                }
            }
            }

            <h6>Auteurs: </h6>
            @foreach (var auteur in Model.Auteurs)
            {
                <p>@auteur</p>
            }

            <h6>Catégories reliées: </h6>
            @foreach (var categorie in @Model.Categories)
            {
                <a href="#" class="btn btn-secondary btnCategorie">@categorie</a>
            }
        </div>
    </div>
</div>