@using VLISSIDES.ViewModels.Accueil;
@{
}
@model Livre;

<div class="item livrePetit livre @Model.Categories">
    <div class="card cardLivre" style="width: 12rem">
        <div class="imgDiv">
            <img src="@Model.Couverture"
                 class="card-img-top imgLivre"
                 alt="Couverture du livre" />
        </div>
        <div class="card-body">
            <h6 class="card-title">@Model.Titre</h6>

            <h6>@Model.Prix $</h6>

            <h6>Auteurs: </h6>
            @if (Model.Auteur != null)
            {
                @foreach (Auteur a in Model.Auteur)
                {
                    <p>@a.NomAuteur</p>
                }
            }

            <h6>Catégories reliées: </h6>
            @{
                foreach (var categorie in Model.Categories)
                {
                    <a href="#" class="btn btn-secondary btnCategorie">@categorie.Nom</a>
                }
            }
        </div>
    </div>
</div>