@model VLISSIDES.ViewModels.Recherche.DetailsLivreVM
@{
    ViewData["Title"] = Model.Titre;
}


<link rel="stylesheet" href="~/css/Details.css">
<div id="detailsDivPrincipal">
    <div id="DetailsDIV">
        <img id="DetailsIMG" src="@Model.Couverture"/>
    </div>

    <div id="DetailsInfo">
        <h2>@Model.Titre</h2>

        <div id="checkboxTypeLivre">

        </div>
        @if (Model.Papier.Equals(null)&&Model.Numerique.Equals(null))
        {
            <p>
                <strong>Aucun Prix</strong>
            </p>
        }
        else
        {
            @if (!Model.Papier.Equals(null))
                {
                    <p>Prix neuf: @Model.Papier $</p>
                }
            @if (!Model.Numerique.Equals(null))
                {
                    <p>Prix numérique: @Model.Numerique $</p>
                }
        }
        <div>Auteur(s): @foreach(var auteur in @Model.Auteurs){ <p>@auteur</p> } </div>
        <div>Catégorie(s): @foreach (var categorie in @Model.Categories){<p>@categorie</p>}</div>
        <p>Date publication: @Model.DatePublication</p>
        <p>Éditeur: @Model.MaisonEdition</p>
        <p>Nombre de pages: @Model.NbPages</p>
        <strong>Résumé:</strong>
        <p>@Model.Resume</p>
        <br/>
        @if (Model.NbExemplaires > 0)
        {
            <p style="font-weight: bold;">En stock (@Model.NbExemplaires restants)</p>
        }
        else
        {
            <p style="font-weight: bold; color: red;">En rupture de stock</p>
        }
    </div>
</div>

<style>
    #DetailsDIV{
        max-width: 35%;
    }

    #DetailsIMG {
        max-width: 100%;
    }
</style>