@using System.Web.WebPages;
@model VLISSIDES.ViewModels.Recherche.IndexRechercheVM;
@{
    ViewData["Title"] = "Libraire";
}
@{
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}
<link rel="stylesheet" href="~/css/Rechercher/Recherche.css">
<div class="d-block">
    @if (!Model.MotRecherche.IsEmpty())
    {
        <div>
            <h1>Résultat de recherche pour @Model.MotRecherche dans @Model.Criteres</h1>
        </div>
    }
    <div class="container-fluid">
        @* Les recherches *@
        @* Research bar *@
        <div class="row text-center" id="rechercheDIV">
            <a id="rechercherBTN" class="container-fluid btn btn-primary" asp-controller="Recherche" asp-action="Index">
                Rechercher
            </a>
            <input id="rechercheGeneral" type="text" class="form-control recherche-input" placeholder="Recherche générale" onkeyup="RechercheRapide()">
        </div>
        <button class="btn btn-primary m-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtre" aria-controls="filtre">
            Filtres
        </button>
        <div class="row">
            <div id="filtre" class="offcanvas offcanvas-start card col-2" tabindex="-1">
                @* Recherche précise *@
                <button id="fermeFiltre" type="button" class="btn-close btn-close-black text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <h3>Filtres</h3>
                <div class="form-group">
                    <label for="specificationTitre">Titre:</label>
                    <input id="specificationTitre" class="form-control" name="specificationTitre" type="text" list="ListeLivres">
                    <datalist id="ListeLivres">
                        @foreach (var livre in Model.Livres)
                        {
                            <option value="@livre" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationAuteur">Auteur:</label>
                    <input id="specificationAuteur" class="form-control" name="specificationAuteur" type="text" list="ListeAuteurs">
                    <datalist id="ListeAuteurs">
                        @foreach (var auteur in Model.Auteurs)
                        {
                            <option value="@auteur" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationMaisonEdition">Maison d'édition:</label>
                    <input id="specificationMaisonEdition" class="form-control" type="text" list="specificationMaisonEditions">
                    <datalist id="specificationMaisonEditions">
                        @foreach (var maisonEdition in Model.MaisonEditions)
                        {
                            <option value="@maisonEdition" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationCategorie">Categorie:</label>
                    <input id="specificationCategorie" class="form-control" name="specificationCategorie" type="text" list="specificationCategories">
                    <datalist id="specificationCategories">
                        @foreach (var categorie in Model.Categories)
                        {
                            <option value="@categorie" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationLangue">Langue:</label>
                    <input id="specificationLangue" class="form-control" name="specificationLangue" type="text" list="ListeLangues" />
                    <datalist id="ListeLangues">
                        @foreach (var langue in Model.Langues)
                        {
                            <option value="@langue" />
                        }
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="specificationPrixMin">Prix minimum:</label>
                    <input id="specificationPrixMin" class="form-control" type="number" min="0">
                </div>
                <div class="form-group">
                    <label for="specificationPrixMax">Prix maximum:</label>
                    <input id="specificationPrixMax" class="form-control" type="number" min="0">
                </div>
                <div class="form-group">
                    <label for="specificationTypeLivre">Type de livre:</label>
                    <input id="specificationTypeLivre" class="form-control" name="specificationTypeLivre" type="text" list="ListeTypeLivres" />
                    <datalist id="ListeTypeLivres">
                        @foreach (var typeLivre in Model.TypeLivres)
                        {
                            <option value="@typeLivre" />
                        }
                    </datalist>
                </div>
                <button id="rechercherBTNFiltre" type="button" class="container-fluid btn btn-primary">
                    Rechercher
                </button>
            </div>
            @* Body *@

                @* Results *@
                <div id="results" class="d-flex justify-content-around flex-wrap">
                    @foreach (var livre in Model.LivrePartials)
                    {
                        <partial name="PartialViews/Recherche/_CarteLivreRecherche" model="@livre"/>
                    }
                </div>
                <partial name="PartialViews/Utilities/_PaginationRecherchePartial" />
        </div>

    </div>

</div>
<script type="text/javascript">
    //Script pour la recherche
    var btnSearch = document.getElementById("rechercherBTN").addEventListener("click", RechercheGenerale);
    var btnFiltreSearch = document.getElementById("rechercherBTNFiltre").addEventListener("click", RechercheGenerale);

    async function RechercheGenerale(ev) {
        ev.preventDefault();

        var partieMotCles = "motCles=";
        var partieCriteres = "criteres=";

        //Recherche générale
        var searchGeneral = document.getElementById("rechercheGeneral");
        var searchTerm = searchGeneral.value.trim(); // Récupérer la valeur de la barre de recherche

        if (searchTerm != "") {
            artieMotCles = partieMotCles.concat(`${searchTerm}|`);
            partieCriteres = partieCriteres.concat("general|");
        }

        //Titre
        var titreSpecification = document.getElementById("specificationTitre");
        var titreEntree = titreSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (titreEntree != "") {
            partieMotCles = partieMotCles.concat(`${titreEntree}|`);
            partieCriteres = partieCriteres.concat("titre|");
        }

        //Auteur
        var auteurSpecification = document.getElementById("specificationAuteur");
        var auteurEntree = auteurSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (auteurEntree != "") {
            partieMotCles = partieMotCles.concat(`${auteurEntree}|`);
            partieCriteres = partieCriteres.concat("auteur|");
        }

        //MaisonEdition
        var maisonEditionSpecification = document.getElementById("specificationMaisonEdition");
        var maisonEditionEntree = maisonEditionSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (maisonEditionEntree != "") {
            partieMotCles = partieMotCles.concat(`${maisonEditionEntree}|`);
            partieCriteres = partieCriteres.concat("maisonEdition|");
        }

        //Categorie
        var categorieSpecification = document.getElementById("specificationCategorie");
        var categorieEntree = categorieSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (categorieEntree != "") {
            partieMotCles = partieMotCles.concat(`${categorieEntree}|`);
            partieCriteres = partieCriteres.concat("categorie|");
        }

        //Langue
        var langueSpecification = document.getElementById("specificationLangue");
        var langueEntree = langueSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (langueEntree != "") {
            partieMotCles = partieMotCles.concat(`${langueEntree}|`);
            partieCriteres = partieCriteres.concat("langue|");
        }

        //Type livre
        var typeLivreSpecification = document.getElementById("specificationTypeLivre");
        var typeLivreEntree = typeLivreSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (typeLivreEntree != "") {
            partieMotCles = partieMotCles.concat(`${typeLivreEntree}|`);
            partieCriteres = partieCriteres.concat("typeLivre|");
        }

        //Prix minimum
        var prixMinSpecification = document.getElementById("specificationPrixMin");
        var prixMinEntree = prixMinSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (prixMinEntree != "") {
            partieMotCles = partieMotCles.concat(`${prixMinEntree}|`);
            partieCriteres = partieCriteres.concat("prixMin|");
        }

        //Prix maximum
        var prixMaxSpecification = document.getElementById("specificationPrixMax");
        var prixMaxEntree = prixMaxSpecification.value.trim(); // Récupérer la valeur de la barre de recherche

        if (prixMaxEntree != "") {
            partieMotCles = partieMotCles.concat(`${prixMaxEntree}|`);
            partieCriteres = partieCriteres.concat("prixMax|");
        }
        if (partieMotCles != "")
            partieMotCles = partieMotCles.substring(0, partieMotCles.length - 1);
        if (partieCriteres != "")
            partieCriteres = partieCriteres.substring(0, partieCriteres.length - 1);
        // Utiliser la valeur dans l'URL pour l'action Index
        window.location.href = `/Recherche/Index?${partieMotCles}&${partieCriteres}`;
    }
</script>

<script>
    function RechercheRapide() {
        if (event.key == 'Enter') RechercheGenerale();
    }
</script>