@model VLISSIDES.ViewModels.Panier.PanierVM
@{
    ViewData["Title"] = "Panier";
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}

<div class="m-4">
    <h1>Votre panier</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Articles</h3>
                @foreach(var item in Model.ListeArticles)
                {
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="@item.Livre.Couverture" class="card-img" style="height:100%;max-width:100%" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Livre.Titre</h5>

                                    <div>
                                        @String.Format("{0:#,##0.00}$", item.Prix)
                                    </div>
                                    <div class="d-flex flex-row my-4">
                                        <div class="col-4">
                                            <input id="@item.Id quantite" type="number" class=" form-control formGroupExampleInput h-100" placeholder="" value="@item.Quantite" onclient onclick="enableButton('@item.Id')">
                                        </div>
                                        <button id="saveButton @item.Id" type="button" class="btn btn-success saveButton mx-2 p-2"
                                                onclick="ModifierQuantite('@item.Id', '@item.Quantite')
                                                disableButton('@item.Id')">
                                            <span class="fa-solid fa-check fa-2x"></span>
                                        </button>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                        <a class="btn btn-danger p-2" data-toggle="tooltip" title="Supprimer le livre" onclick="">
                                            <i class="fa-solid fa-xmark fa-2xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                    
                
            </div>
            <div class="col">
                <h3 class="text-center">Facture</h3>
                <div id="facture" class="bg-white mh-100 p-xl-4">
                    

                </div>

                <div class="d-flex flex-row justify-content-end mt-4">
                    <button class="btn btn-primary">Passer à la commande</button>
                </div>
            </div>
        </div>       
    </div>
</div>

<!--Fonctionalite des boutons *-->
<style>
    /*Pour cacher les boutons de sauvegarde --- Ne fonctionne pas dans un fichier css*/
    .saveButton {
        visibility: hidden;
    }
</style>
<script type="text/javascript" src="~/js/DynamicSaveButton.js" asp-append-version="true"></script>
<!--Fin pour Fonctionalite des boutons-->

<script>
    //Script pour URL
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);

</script>

<script type="text/javascript">
    function AfficherFacture() {
        fetch(BASE_URL + "/Panier/AfficherFacture", {
            method: "GET"
        }).then((response) => {
            // Convertit la réponse en texte
            return response.text();
        }).then((result) => {
            // Met à jour le contenu de la div avec le résultat
            var div = document.getElementById("facture");
            div.innerHTML = result;
        }).catch(error => {
            // Affiche une erreur dans la console en cas d'échec de la requête
            console.error('Erreur lors de la récupération de la liste des maisons d\'édition', error);
        });
    }   
    
    AfficherFacture();
</script>
<script type="text/javascript">
    cbDonEco = document.getElementById("cbDonEco");
    fieldDonEco = document.getElementById("prixDonEco");
    prixTotal = document.getElementById("prixTotal");

    function changerPrixDon() {
        if (cbDonEco.checked) {
            fieldDonEco.innerText = "+5$";
            prixTotal.innerText = (parseFloat((prixTotal.innerText).replace(',', '.')) + 5.0).toFixed(2).toString().replace('.', ',');
            
        } else {
            fieldDonEco.innerText = "";
            prixTotal.innerText = (parseFloat((prixTotal.innerText).replace(',', '.')) - 5.0).toFixed(2).toString().replace('.', ',');
            
        }
            
}
</script>

<script type="text/javascript">
    function ModifierQuantite(id = "", quantite = "") {
        fetch(BASE_URL + '/Panier/ModifierQuantite?id=' + id + '&quantite=' + document.getElementById(id + " quantite").value, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch(error => console.error('Échec du fetch pour modifier la quantite'))
            .then((response) => { 
                disableButton(id);
                AfficherFacture();
            });
    }
</script>
