@using VLISSIDES.ViewModels.Accueil;
@model _LivreCardVM;

@{
    //Juste pour pouvoir différencier les cartes
    Random random = new Random();
    int randomNumber = random.Next(1, 100000);
}

<div class="item livre">
    <div class="card cardLivre" style="width: 12rem">
        <div class="imgDiv">
            <img src="@Model.monLivre.Couverture"
                 class="card-img-top imgLivre"
                 alt="..." />
        </div>
        <div class="card-body">
            <h6 class="card-title">@Model.monLivre.Titre @randomNumber</h6>
            <partial name="_Etoiles.cshtml" />
            
            <h6>@Model.monLivre.Prix $</h6>

            @foreach (var auteur in Model.monLivre.Auteur){
                <p>@auteur.Nom, @auteur.Prenom</p>
            }
        </div>
    </div>
</div>

<style>
    .btnCategorie{
        margin: 4px;
        font-size: 10px;
        padding: 6px;
    }

    .imgLivre{
        width: 35%;
        height: 35%;
    }

    .imgDiv{
        display: flex;
        justify-content: center;
    }

    .livre{
        margin-bottom: 24px;
    }

    .cardLivre:hover {
        background-color: #EEF3F3;
    }
</style>