@model VLISSIDES.ViewModels.GestionAuteurs.AuteursIndexVM
@{
    ViewData["Title"] = "Auteurs";
}



<link rel="stylesheet" href="~/css/ListeAuteurs.css"/>


<div class="d-block p-4 p-4">

    <div class="mb-4">
        <h1>Gestion des auteurs</h1>
    </div>

    <div class="mb-4">
        <h3>Liste des auteurs</h3>
        <div class="row p-0">
            <div class="list-group col-6" id="list-tab" role="tablist">
                @foreach (var item in Model.ListeAuteurs)
                {
                    <div id="@item.Id" class="card list-group-item list-group-item-action mb-2 mx-3" data-toggle="list" onclient onclick="AfficherAuteursLivres('@item.Id')">
                        <div class="card-body row align-items-center p-0">
                            <div class="col-9 text-center">
                                <input id="@item.Id auteur" type="text" asp-for="@item.Nom" class="form-control formGroupExampleInput" placeholder="@Html.DisplayFor(modelItem => item.Nom)">
                            </div>
                            <div class="col-3 text-center d-flex flex-row justify-content-around h-40">
                                @* container-fluid temporaire, permet d'avoir des deux boutons qui ne sortent pas du div *@

                                <button id="saveButton @item.Id" type="button" class="btn btn-success" @* onclick="
                                    saveQuantite('@item.Id', '@item.Nom')
                                    disableButton('@item.Id')"
                                    disabled="document.getElementById(@item.Id).value<0||document.getElementById(@item.Id).value = @item.Nom" *@>

                                    Sauvegarder

                                </button>
                                <button type="button" class="btn btn-danger p-2" @* onclick="SupprimerLivre(`@item.Id`)" *@>
                                    <span class="fa-solid fa-trash fa-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="divListeLivres" class="col-6 border border-dark rounded">

                <div class="" id="divListeAuteursLivres">
                    @foreach (var item in Model.ListeAuteurs)
                    {
                        
                        <div id="Liste_@item.Id" class=" visually-hidden" >
                            <p>@item.Nom</p>


                            @if (item.Livres.Count != 0)
                            {
                                <div class="listcolumns">
                                    <ul id="ulListeNomLivres">
                                                                        @foreach (var livre in item.Livres)
                                                                        {
                                    
                                                                            <li>@livre.Titre</li>
                                    
                                                                        }
                                                                    </ul>
                                </div>
                                

                            }
                            else
                            {
                                <p>pas de livres</p>
                            }


                        </div>
                    }

                </div>

            </div>
            
        </div>
        
    </div>

</div>


@* <script type="text/javascript" src="~/js/AuteurAfficherLivre.js"></script> *@

@* AfficherLivre *@
<script type="text/javascript">
    function hideall() {
        divListes = document.getElementById("divListeAuteursLivres").childNodes;
        divListes.forEach((element) => { element.className = "visually-hidden" });
    }
    function AfficherAuteursLivres(id = "") {
        hideall();

        var liste = document.getElementById("Liste_" + id);
        liste.className = "";
    }
</script>


@section Scripts {
                                
}