<div id="ModalId">
    <div class="modal-header">
        <h5 class="modal-title">Refuser la demande d'annulation</h5>
    </div>
    <div class="modal-body">
        <p>Êtes-vous sûr de refuser la demande d'annulation?</p>
        <p>Id de la commande: @Model.Commande.Id</p>
        <p>Membre: @Model.Commande.MembreId</p>
        <ul>
            @foreach (var livre in Model.Livres)
            {
                <li>@livre.Quantite x @livre.Livre.Titre</li>
            }
        </ul>
        <p>Lire les courriels pour plus d'information.</p>
        @{
            var urlStripe = $"https://dashboard.stripe.com/test/payments/{Model.PaymentIntent}";
        }
        <a href="@urlStripe" target="_blank">Allez voir la commande sur Stripe</a>
    </div>
    <div class="modal-footer">
        <a class="btn btn-secondary" href="~/GestionCommandes/Index">Annuler</a>
        <button type="button" class="btn btn-danger" id="confirmDelete" onclick="refuserAnnulation('@Model.Commande.Id', event)">Confirmer</button>
    </div>
</div>