@model VLISSIDES.ViewModels.GestionCommandes.AffichageCommandeVM
@{
}

<link rel="stylesheet" href="~/css/Gestion/Gestion.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/Gestion/Commande.css" asp-append-version="true">
<table>
    <tr>
        <th>Utilisateur</th>
        <th class="cacher-5">Prix</th>
        <th class="cacher-5">Date</th>
        <th class="cacher-4">Statut</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var commande in Model.ListCommandes)
    {
        <tr id="@commande.Id">
            <td>
                <p>@Html.DisplayFor(modelItem => commande.MembreUserName)</p>
            </td>
            <td class="cacher-5">@Html.DisplayFor(modelItem => commande.PrixTotal)</td>
            <td class="cacher-5">@Html.DisplayFor(modelItem=>commande.DateCommande)</td>
            <td class="cacher-4">
                <select id="@commande.Id statutSelectList" class="form-select my-auto" style="width:auto;" onchange="enableButton('@commande.Id')" name="StatutId">
                    @foreach (var statut in Model.SelectListStatut)
                    {
                        if (statut.Value == commande.StatutId)
                        {
                            <option value="@statut.Value" selected="true">@statut.Text</option>
                        }
                        else
                        {
                            <option value="@statut.Value">@statut.Text</option>
                        }
                    }
                </select>
            </td>
            <td>
                <button id="saveButton @commande.Id" type="button" data-toggle="tooltip" title="Sauvegarder la quantité" class="btn btn-success saveButton mx-2 px-3" onclick="
                                                    saveStatut('@commande.Id')
                                                    disableButton('@commande.Id')">

                    <span class="fa-solid fa-check fa-2x"></span>
                </button>
            </td>
            <td><i class="fa-solid fa-circle-info fa-2xl" style="color: #386bc0!important;" type="button" data-toggle="collapse" data-target="#collapseCommandeLivres_@commande.Id"></i></td>
            <td class="collapse" id="collapseCommandeLivres_@commande.Id">
                <hr>
                <div class="p-2">
                    <h5 class="">Articles:</h5>
                    <div>
                        @foreach (var item in commande.LivreCommandes)
                        {
                            <div class="row">
                                <div class="col-sm-3 px-4">
                                    @item.Quantite x @item.Livre.Titre
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-1 d-flex justify-content-center">
                                    @{
                                        var prix = item.PrixAchat * item.Quantite;
                                    }
                                    @prix $
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
